.content {
    padding: 0.5rem;
  }
  
.p-2 {
    padding: 1.5rem;
    font-size: 20px;
  }
  
  .final-price-tag {
    color: #27AE60 !important;
  }
  
  .original-price-tag {
    color: #C0392B !important;
  }
  
  .discount-price-tag {
    color: #F39C12 !important;
  }
  
  mat-card-header{
    padding:0.25rem !important
  }

  .mb-0\.25{
    margin-bottom:0.25rem
  }